/CMakeFiles/
/lib/
/VKTS_Vulkan.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Vulkan.sdf
/VKTS_Vulkan.sln
/VKTS_Vulkan.vcxproj
/VKTS_Vulkan.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/VKTS_Vulkan/v14/.suo
/VKTS_Vulkan.opensdf
/VKTS_Vulkan.VC.db
/VKTS_Vulkan.VC.VC.opendb
