arm64_Linux_Display.iMX8_GNU_Debug/
arm64_Linux_Display.iMX8_GNU_Release/
arm64_Linux_Wayland_GNU_Debug/
arm64_Linux_Wayland_GNU_Release/
intel64_Linux_Display_GNU_Debug/
intel64_Linux_Display_GNU_Release/
intel64_Linux_Wayland_GNU_Debug/
intel64_Linux_Wayland_GNU_Release/
intel64_Linux_Xlib_GNU_Debug/
intel64_Linux_Xlib_GNU_Release/
intel64_Windows_Win32_GNU_Debug/
intel64_Windows_Win32_GNU_Release/
__pycache__/
build/
Debug/
Release/
CMakeFiles/
.externalNativeBuild/
.idea/
.gradle/
language.settings.xml
local.properties
*.apk
*.blend1
*.cmake
*.depend
*.dir
*.filters
*.ilk
*.iml
*.lastbuildstate
*.log
*.obj
*.pdb
*.prefs
*.sln
*.stamp
*.tlog
*.VC.db
*.vcxproj
*.vcxproj.user
*.vs
*.zip
/CMakeCache.txt
/CMakeLists.txt
/MSVC