/CMakeFiles/
/Debug/
/VKTS_Example11.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Example11.sdf
/VKTS_Example11.sln
/VKTS_Example11.vcxproj
/VKTS_Example11.vcxproj.filters
/VKTS_Example11.vcxproj.user
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/VKTS_Example11/v14/.suo
/VKTS_Example11.VC.db
/VKTS_Example11.VC.VC.opendb
