/CMakeFiles/
/Debug/
/VKTS_Example10.dir/
/x64/
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/cmake_install.cmake
/CMakeCache.txt
/VKTS_Example10.sdf
/VKTS_Example10.sln
/VKTS_Example10.vcxproj
/VKTS_Example10.vcxproj.filters
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/VKTS_Example10.vcxproj.user
/.vs/VKTS_Example10/v14/.suo
/VKTS_Example10.VC.db
/VKTS_Example10.VC.VC.opendb
