/intel64_Windows_Win32_GNU_Debug/
/intel64_Windows_Win32_GNU_Release/
/intel64_Windows_None_GNU_Debug/
/intel64_Windows_None_GNU_Release/
/intel64_Linux_Xlib_GNU_Debug/
/intel64_Linux_Xlib_GNU_Release/
/intel64_Linux_None_GNU_Debug/
/intel64_Linux_None_GNU_Release/
/intel64_Windows_Display_GNU_Debug/
/arm64_Linux_Display.iMX8_GNU_Debug/
/arm64_Linux_Display.iMX8_GNU_Release/
/arm64_Linux_None_GNU_Debug/
/arm64_Linux_None.iMX8_GNU_Debug/
/intel64_Linux_Wayland_GNU_Debug/
/intel64_Linux_Display_GNU_Debug/
